In [1]:
from rdkit import Chem
from rdkit.Chem import PandasTools
from rdkit import RDConfig
import os

In [2]:
df = PandasTools.LoadSDF(os.path.join(RDConfig.RDDataDir,'NCI','first_200.props.sdf'))
df[['AMW','CLOGP','CP','CR']].head()

         AMW  CLOGP               CP               CR
0  122.12344   0.79   0.727;-0P;4.71  2.963;-40R;4.71
1    332.495   4.66   4.316;-0P;4.71   9.384;-0R;4.71
2    218.553  -2.61  2.239;-57P;4.71   4.556;-0R;4.71
3  145.14184  -2.01  0.519;-59P;4.71  3.267;-42R;4.71
4    223.231   2.43   1.869;-0P;4.71   6.390;-0R;4.71

In [3]:
len(df)

200

In [5]:
list(df.columns)

['AMW',
 'CLOGP',
 'CP',
 'CR',
 'DAYLIGHT.FPG',
 'DAYLIGHT_CLOGP',
 'FP',
 'ISM',
 'LIPINSKI_VIOLATIONS',
 'NUM_HACCEPTORS',
 'NUM_HDONORS',
 'NUM_HETEROATOMS',
 'NUM_LIPINSKIHACCEPTORS',
 'NUM_LIPINSKIHDONORS',
 'NUM_RINGS',
 'NUM_ROTATABLEBONDS',
 'NUM_ROTATABLEBONDS_O',
 'P1',
 'SMILES',
 'ID',
 'ROMol']

In [6]:
# NBVAL_IGNORE_OUTPUT
import importlib
importlib.reload(PandasTools)

In [7]:
df[['AMW','CLOGP','CP','CR']].head()

         AMW  CLOGP               CP               CR
0  122.12344   0.79   0.727;-0P;4.71  2.963;-40R;4.71
1    332.495   4.66   4.316;-0P;4.71   9.384;-0R;4.71
2    218.553  -2.61  2.239;-57P;4.71   4.556;-0R;4.71
3  145.14184  -2.01  0.519;-59P;4.71  3.267;-42R;4.71
4    223.231   2.43   1.869;-0P;4.71   6.390;-0R;4.71