In [1]:
from rdkit import Chem
from rdkit.Chem import PandasTools
from rdkit import RDConfig
import os

In [2]:
df = PandasTools.LoadSDF(os.path.join(RDConfig.RDDataDir,'NCI','first_200.props.sdf'))
df[['AMW','CLOGP','CP','CR']].describe()

              AMW CLOGP              CP              CR
count         200   200             200             200
unique        183   176             193             183
top     198.26456  2.19  1.498;-0P;4.71  6.280;-0R;4.71
freq            3     3               2               3

In [3]:
df.columns

Index(['AMW', 'CLOGP', 'CP', 'CR', 'DAYLIGHT.FPG', 'DAYLIGHT_CLOGP', 'FP',
       'ISM', 'LIPINSKI_VIOLATIONS', 'NUM_HACCEPTORS', 'NUM_HDONORS',
       'NUM_HETEROATOMS', 'NUM_LIPINSKIHACCEPTORS', 'NUM_LIPINSKIHDONORS',
       'NUM_RINGS', 'NUM_ROTATABLEBONDS', 'NUM_ROTATABLEBONDS_O', 'P1',
       'SMILES', 'ID', 'ROMol'],
      dtype='object')

In [5]:
# NBVAL_IGNORE_OUTPUT
import importlib
importlib.reload(PandasTools)

In [4]:
df[['AMW','CLOGP','CP','CR']].describe()

              AMW CLOGP              CP              CR
count         200   200             200             200
unique        183   176             193             183
top     198.26456  2.19  1.498;-0P;4.71  6.280;-0R;4.71
freq            3     3               2               3